backend-spring/target/
*.class
*.jar
*.war
.mvn/
mvnw
mvnw.cmd
.git/
.gitignore
.idea/
.vscode/
Dockerfile
.dockerignore
node_modules/
package-lock.json
package.json
server.js
config/
controllers/
database/
middleware/
routes/
uploads/
